In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:

# Load the time series data
data = pd.read_csv('../Datasets/SolarPrediction2.csv')

# Separate features and target variable
X = data[['Temperature', 'Pressure', 'Humidity', 'WindDirection(Degrees)', 'Speed']]
y = data['Radiation']

In [3]:
X,y

(       Temperature  Pressure  Humidity  WindDirection(Degrees)  Speed
 0               48     30.46        59                  177.39   5.62
 1               48     30.46        58                  176.78   3.37
 2               48     30.46        57                  158.75   3.37
 3               48     30.46        60                  137.71   3.37
 4               48     30.46        62                  104.95   5.62
 ...            ...       ...       ...                     ...    ...
 32681           44     30.43       102                  145.42   6.75
 32682           44     30.42       102                  117.78   6.75
 32683           44     30.42       102                  145.19   9.00
 32684           44     30.42       101                  164.19   7.87
 32685           44     30.43       101                   83.59   3.37

 [32686 rows x 5 columns],
 0        1.21
 1        1.21
 2        1.23
 3        1.21
 4        1.17
          ...
 32681    1.22
 32682    1.17
 32683    1.20
 32684    1.23
 32685    1.20
 Name: Radiation, Length: 32686, dtype: float64)

In [5]:
X

       Temperature  Pressure  Humidity  WindDirection(Degrees)  Speed
0               48     30.46        59                  177.39   5.62
1               48     30.46        58                  176.78   3.37
2               48     30.46        57                  158.75   3.37
3               48     30.46        60                  137.71   3.37
4               48     30.46        62                  104.95   5.62
...            ...       ...       ...                     ...    ...
32681           44     30.43       102                  145.42   6.75
32682           44     30.42       102                  117.78   6.75
32683           44     30.42       102                  145.19   9.00
32684           44     30.42       101                  164.19   7.87
32685           44     30.43       101                   83.59   3.37

[32686 rows x 5 columns]

In [6]:
y

0        1.21
1        1.21
2        1.23
3        1.21
4        1.17
         ...
32681    1.22
32682    1.17
32683    1.20
32684    1.23
32685    1.20
Name: Radiation, Length: 32686, dtype: float64

In [7]:
# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Define a naive model: simply average the target variable
y_pred = np.mean(y_train)

# Evaluate the model on the test set
print('Mean Absolute Error:', np.mean(np.abs(y_test - y_pred)))

Mean Absolute Error: 258.07199911668306